.git
.github
.agents
.codex

docs
tools
firmware

**/.gitignore
**/__pycache__
**/*.pyc
**/.pytest_cache

ros2_ws/build
ros2_ws/install
ros2_ws/log

firmware/**/Debug/*.elf
firmware/**/Debug/*.bin
firmware/**/Debug/*.hex
firmware/**/Debug/*.list
firmware/**/Debug/*.map
firmware/**/Debug/*.o
firmware/**/Debug/*.d
firmware/**/Debug/*.su
firmware/**/Debug/*.cyclo
