<?xml version="1.0"?>
<!-- =========================================================================
     arm_sim.urdf.xacro
     TOP-LEVEL cho GAZEBO (sim vat ly). Tay dung RIENG tren arm_world,
     KHONG dinh gi toi xe. Build: xacro arm_sim.urdf.xacro
     ========================================================================= -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="scara_arm_sim">

  <xacro:include filename="$(find arm_description)/urdf/arm.xacro"/>
  <xacro:include filename="$(find arm_description)/urdf/arm_ros2_control.xacro"/>

  <!-- goc co dinh xuong dat -->
  <link name="arm_world"/>

  <xacro:scara_arm parent="arm_world" xyz="0 0 0" rpy="0 0 0"/>

  <!-- ros2_control + gazebo plugin + vat lieu -->
  <xacro:arm_ros2_control/>
  <xacro:arm_gazebo_props/>

</robot>
